body {
    font-family: 'Roboto', 'Hiragino Sans', 'Meiryo', 'Hiragino Kaku Gothic ProN', sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.6;
    color: #222;
}

img {
    max-width: 100%;
    height: auto;
}

.is-sp {
    display: none;
}

@media (max-width: 768px) {
    .is-sp {
        display: block;
    }
}

.is-pc {
    display: block;
}

@media (max-width: 768px) {
    .is-pc {
        display: none;
    }
}

.section_title {
    display: flex;
    justify-content: center;
    margin-top: 138px;
}

@media (max-width: 768px) {
    .section_title {
        margin-top: 100px;
    }
}

.mainvisual_wrapper {
    max-width: 1076px;
    margin-right: auto;
    margin-left: auto;
    /* margin-top: 44px; */
}

.mainvisual_img {
    margin-top: 49px;
}

.main_gallery {
    background-color: #F1F1F1;
}

.main_gallery_inner {
    display: flex;
    justify-content: center;
    gap: 26px;

    padding: 46px 115px;

    /* margin-top: 160px; */
    margin-top: 80px;

    overflow: hidden;
}

@media (max-width: 768px) {
    .main_gallery_inner {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 58px 0;
    }
}

.main_sub-img {
    max-width: 283px;
}

@media (max-width: 768px) {
    .main_sub-img {
        max-width: 100%;
    }
}

.text_img-wrapper {
    max-width: 440px;
    /* margin: auto; */
    margin-top: 80px;
}

@media (max-width: 768px) {
    .text_img-wrapper {
        margin-top: 50px;
    }
}

.text_img-text {
    display: flex;
    justify-content: flex-start;
    /* max-width: 400px;
    width: 100%; */
    /* margin: 0 auto; */
    gap: 48px;
}

.text_img-text span+span {
    margin-left: 20px;
}

.text_img-text span {
    writing-mode: vertical-rl;
    text-orientation: upright;
    display: flex;
    align-items: center;
    font-size: 18px;
}

@media (max-width: 768px) {
    .text_img-text span {
        font-size: 10px;
    }
}


.text_img-text_inner {
    display: flex;
}

.text_img-text--deco {
    margin-right: 46px;
}


.section_concept {
    font-size: 24px;
    letter-spacing: 0.4em;
    line-height: 1.5;
}


.section_concept::after {
    content: "";
    height: 5px;
    border-top: 2px solid #000;
    border-bottom: 1px solid #000;
    display: block;
    box-sizing: border-box;
}

.content_text {
    text-align: center;
    font-size: 18px;
    margin-top: 44px;
    max-width: 762px;
    margin-right: auto;
    margin-left: auto;
    letter-spacing: 0.1em;
    line-height: 2;
}

@media (max-width: 768px) {
    .content_text {
        font-size: 14px;
        line-height: 2;
        width: calc(100% - 22px * 2);
        margin-right: auto;
        margin-left: auto;
        letter-spacing: 0.1em;
    }
}

.section_salon {
    font-size: 24px;
    letter-spacing: 0.4em;
    line-height: 1.35;
}

.section_salon::after {
    content: "";
    height: 5px;
    border-top: 2px solid #000;
    border-bottom: 1px solid #000;
    display: block;
    box-sizing: border-box;
}

.salon_list {
    display: flex;
    justify-content: center;

    gap: 40px;
    margin-top: 43px;

    overflow-x: hidden;
}

@media (max-width: 768px) {
    .salon_list {
        display: grid;
        column-gap: 30px;
        row-gap: 24px;
    }
}

@media (max-width: 768px) {
    .salon_item {
        border: 1px solid #000;
        padding: 10px 8px;
        min-height: 184px;
    }

    .salon_item:nth-of-type(1) {
        grid-row: 1;
        grid-column: 1/2;
    }

    .salon_item:nth-of-type(2) {
        grid-row: 1;
        grid-column: 2/3;
    }

    .salon_item:nth-of-type(3) {
        grid-row: 2;
        grid-column: 1/3;
        width: 46%;
        margin-right: auto;
        margin-left: auto;

    }
}

.salon_img {
    max-width: 320px;
}

@media (max-width: 768px) {
    .salon_img {
        max-width: 100%;
    }
}

.salon_item_text {
    padding-top: 36px;
}

@media (max-width: 768px) {
    .salon_item_text {
        font-size: 10px;
        padding-top: 10px;
    }
}

.section_hairstyle {
    font-size: 24px;
    letter-spacing: 0.4em;
    line-height: 1.5;
}

@media (max-width: 768px) {
    .section_hairstyle {
        font-size: 18px;
    }
}

.section_hairstyle::after {
    content: "";
    height: 5px;
    border-top: 2px solid #000;
    border-bottom: 1px solid #000;
    display: block;
    box-sizing: border-box;
}

.hairstyle_item {
    display: flex;
    justify-content: center;

    gap: 15px;
    padding: 40px 0 39px;
    background-color: #F1F1F1;
    margin-top: 59px;
}

.hairstyle_item a {
    width: 100%;
}

.hairstyle_img {
    width: 100%;
}

.hairstyle_wrapper {
    margin-top: 22px;
    padding-top: 72px;
}

@media (max-width: 768px) {
    .hairstyle_wrapper {
        padding-top: 0;
    }
}

.hairstyle_nav {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 4px;
    padding: 12px 0;
    border: 1px solid #000;
    /* margin-top: 72px; */
}

@media (max-width: 768px) {
    .hairstyle_nav {
        padding: 5px 0;
    }
}

@media (max-width: 768px) {
    .hairstyle_nav a {
        display: flex;
        align-items: center;
        gap: 4px;
    }
}

.hairstyle_wrapper {
    max-width: 357px;
    margin: auto;
}

@media (max-width: 768px) {
    .hairstyle_wrapper {
        max-width: 100%;
        width: calc(100% - 68px * 2);
        margin-top: 22px;
    }
}

.hairstyle_nav-icon {
    max-width: 24px;
}

.hairstyle_nav-text {
    font-size: 14px;
    border-bottom: 1px solid #000;
}

@media (max-width: 768px) {
    .hairstyle_nav-text {
        font-size: 10px;
    }
}

.hairstyle__splide {
    background-color: #F1F1F1;
    padding-top: 35px;
    padding-bottom: 35px;
    margin-top: 45px;
}

@media (max-width: 768px) {
    .hairstyle__splide {
        background-color: transparent;
        padding-top: 0;
        padding-bottom: 0;
    }
}

@media (max-width: 768px) {
    .hairstyle__splide {}
}

/**
 hairstyle__list__250611記述
*/

.hairstyle__list {
    margin-top: 0;
}

@media (max-width: 768px) {
    .hairstyle__list {
        display: grid !important;
        grid-template-columns: repeat(3, 1fr);
        /* margin-top: 24px !important; */
        gap: 12px;
    }
}

.section_movie {
    font-size: 24px;
    letter-spacing: 0.4em;
}

@media (max-width: 768px) {
    .section_movie {}
}

.section_movie::after {
    content: "";
    height: 5px;
    border-top: 2px solid #000;
    border-bottom: 1px solid #000;
    display: block;
    box-sizing: border-box;
}

.movie_wrapper {
    display: flex;
    max-width: 650px;
    margin: auto;
}

.movie_item {
    margin-top: 45px;
}

@media (max-width: 768px) {
    .movie_item {
        margin-top: 16px;
    }
}

.footer {
    /* margin-top: 250px; */
}

.about__inner {
    width: calc(100% - 40px * 2);
    margin-right: auto;
    margin-left: auto;
}

/** splide */

.splide__slide a {
    display: flex;
    width: 100%;
}

.splide__slide img {
    width: 100%;
}