/* Reservation部分ここから */
.section_title {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 138px;
}

.section_reservation {
    font-size: 24px;
}

@media (max-width: 768px) {
    .section_reservatio {
        font-size: 16px;
    }
}

.section_reservation::after {
    content: "";
    height: 5px;
    border-top: 2px solid #000;
    border-bottom: 1px solid #000;
    display: block;
    box-sizing: border-box;
}

.section_text {
    /* margin-top: 259px; */
}

@media (max-width: 768px) {
    .section_text {
        text-align: left;
        font-size: 10px;
    }
}

/* .section_img{
    max-width: 950px;
} */

.section_img-content {
    margin-top: 12px;
}

@media (max-width: 768px) {
    .section_img {
        width: calc(100%-105*2);
    }
}


.section_img-icon {
    max-width: 45px;
}

@media (max-width: 768px) {
    .section_img-icon {
        max-width: 28px;
    }
}

.section_item {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 16px;
    padding: 22px 0;
    width: 100%;
}

@media (max-width: 768px) {
    .section_item {
        padding: 15px 0;
    }
}

.section_subtext {
    font-size: 28px;
}

@media (max-width: 768px) {
    .section_subtext {
        font-size: 14px;
    }
}

.section_content {
    border: 2px solid #000;
}

@media (max-width: 768px) {
    .section_content {
        margin-top: 0px;
    }
}


.section_subcontent {
    border: 2px solid #000;
    /* width: 840px; */
    margin: auto;
    margin-top: 45px;
}

@media (max-width: 768px) {
    .section_subcontent {
        margin-top: 13px;
    }
}

.section_subitem {
    font-size: 28px;
    text-align: center;

    padding: 22px 0;
    width: 100%;
}

@media (max-width: 768px) {
    .section_subitem {
        font-size: 14px;

        padding: 15px 0;
    }
}

.section_unit {
    margin-top: 45px;
}

.reservation_inner {
    max-width: 840px;
    margin: auto;
}

.reservation_sub-wrapper {
    padding: 40px;
    border: 2px solid;

    margin-top: 50px;
}

@media (max-width: 768px) {
    .reservation_sub {
        padding: 30px 35px;

        margin-top: 78px;
    }
}

.reservation_wrapper {}

.section_subunit {
    font-size: 18px;
    line-height: 1.5;
}

.reservation_wrapper {
    /* width: calc(100% - 35px * 2);
    border: none; */
    /* max-width: 950px; */
    /* margin: 0 auto; */
    /* margin-top: 48px; */
}

@media (max-width: 768px) {
    .reservation_body {
        padding: 23px 35px;
        /* border: 1px solid #000; */
        margin-top: 5px;
    }
}

.subunit {
    /* text-align: left; */
    margin-top: 40px;
}

/* Reservation部分ここまで */

/* 共通パーツ部分ここから */
.top_img {
    margin-top: 180px;
}

/* 共通パーツ部分ここまで */

/* sp対応(768px)ここから */
@media (max-width: 768px) {
    .section_title {
        margin-top: 58px;
    }

    .section_reservation {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .section_body {
        padding: 23px 31px 38px 33px;
        border: 1px #000 solid;
    }
}

reservation_body-wrapper {
    width: 100%;
    margin: auto;
}

/* ここに768px以下適用したいコードをかく */
/* sp対応(768px)ここまで */