.wrapper {
    max-width: 1076px;
    margin: auto;
    /** 要素の右よせ */
    text-align: right;
}

.menu_img {
    /* margin-top: 28px; */
}

.section_title {
    display: flex;
    text-align: center;
    justify-content: center;
}

.section_menu {
    font-size: 24px;
    margin-top: 89px;
}

@media (max-width:768px) {
    .section_menu {
        font-size: 16px;
        margin-top: 59px
    }
}

.section_menu::after {
    content: "";
    height: 5px;
    border-top: 2px solid #000;
    border-bottom: 1px solid #000;
    display: block;
    box-sizing: border-box;
}


.section_item {
    font-size: 20px;
    padding: 5px 26px 0;

    border: 2px solid #000;
    margin-top: 125px;
}

@media (max-width:768px) {
    .section_item {
    font-size: 12px;
    padding: 5px 11px;

    margin-top: 86pxpx
    }
}

.section_subtitle {
    display: flex;
    justify-content: center;
}

@media (max-width:768px) {
    .section_subtitle {
        margin-top: -60px;
    }
}

.section_wrapper {
    max-width: 875px;
    width: calc(100% - 25px * 2);
    margin: 0 auto;
}

.section_bottom-text {
    text-align: center;
    margin-top: 104px;
}

@media (max-width:768px) {
    .section_bottom-text {
        font-size: 10px;
        margin-top: 9px;
    }
}

.section_bottom-subtext {
    font-size: 18px;
    text-align: right;

    margin-top: 129px;
}

@media (max-width:768px) {
    .section_bottom-subtext {
        font-size: 10px;
    }
}

.menu_unit {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dashed #8A8888;
}

.menu_unit+.menu_unit {
    margin-top: 32px;
}

.menu_unit_list {
    margin-top: 89px;
}

@media (max-width:768px) {
    .menu_unit {
    font-size: 10px;
    }
}

@media (max-width:768px) {
    .menu_unit+.menu_unit {
        margin-top: 3px;
    }
}

@media (max-width:768px) {
    .menu_item {
        font-size: 10px;
    }
}


/* ?????????矢印部分????????????/ */
.section_arrow{
    text-align: right;
}

@media (max-width:768px) {
    .section_arrow {
        display: inline-block;
        width: 185px;
    }
}