.access_img {
    max-width: 1076px;
    width: 100%
}

@media (max-width: 768px) {
    .access_img {
        width: calc(270/375*100vw);
        margin-right: auto;
        margin-left: auto;
        display: block;
    }
}

.section_access {
    font-size: 24px;
    margin-top: 124px;
}

@media (max-width: 768px) {
    .section_access {
        font-size: 16px;
        font-weight: normal;

        margin-top: 52px;
    }
}

.section_access::after {
    content: "";
    height: 5px;
    border-top: 2px solid #000;
    border-bottom: 1px solid #000;
    display: block;
    box-sizing: border-box;
}

.section_title {
    display: flex;
    align-items: center;
    justify-content: center;


}

.section_wrapper {
    max-width: 682px;
    margin: auto;

    margin-top: 168px;
}

@media (max-width: 768px) {
    .section_wrapper {
        margin-top: 94px;

        max-width: 320px;

    }
}


.section_unit {
    display: flex;
    border-bottom: 1px solid #000;

    padding-bottom: 10px;
}

/* .section_unit + .section_unit {
    margin-top: 90px;
} */
/* 
.section_unit:first-of-type {
    margin-top: 90px;
} */

.section_unit:nth-of-type(2),
.section_unit:nth-of-type(3) {
    margin-top: 90px;
}

@media (max-width: 768px) {

    .section_unit:nth-of-type(2),
    .section_unit:nth-of-type(3) {
        margin-top: 10px;
    }
}


.section_content {
    font-size: 20px;
    font-weight: 400;
    min-width: 180px;
}

@media (max-width: 768px) {
    .section_content {
        font-size: 10px;
    }
}

@media (max-width: 768px) {
    .section_item {
        font-size: 10px;
    }
}

.section_img {
    /* max-width: 950px; */
}

.section_subwrapper {
    max-width: 950px;
    margin: auto;

    margin-top: 239px;
}

@media (max-width: 768px) {
    .section_subwrapper {
        margin-top: 108px;
    }
}

.section_map iframe {
    aspect-ratio: 950 / 520;
    height: 100%;
    max-width: 100%;
}

@media (max-width: 768px) {
    .section_map iframe {
        aspect-ratio: 265 / 170;
    }
}

.section_unit-wrapper {
    max-width: 650px;
    margin: auto;
    margin-top: 82px;

    text-align: left;
}

.section_text {
    font-size: 20px;
    line-height: 2;
}

@media (max-width: 768px) {
    .section_text {
        font-size: 10px;
    }
}

.wrapper {
    max-width: 950px;
    margin: 0 auto;
    /** 要素の右よせ */
    text-align: right;
}

@media (max-width: 768px) {
    .wrapper {
        width: calc(100% - 25px * 2);
        /* padding: 0 52px; */
        /* margin: 0 auto; */
    }
}

.section_movie {
    font-size: 24px;
    letter-spacing: 0.4em;

    margin-top: 82px;
}

@media (max-width: 768px) {
    .section_movie {
        font-size: 16px;
    }
}

.section_movie::after {
    content: "";
    height: 5px;
    border-top: 2px solid #000;
    border-bottom: 1px solid #000;
    display: block;
    box-sizing: border-box;
}

.movie_wrapper {
    display: flex;
    max-width: 650px;
    margin: auto;
}

.movie_item {
    margin-top: 45px;
}

/* 共通パーツ部分ここから */

.top_img{
    margin-top: 134px;
}

@media (max-width: 768px) {
    .footer {
    }
}

/* 共有パーツ部分ここまで */